.asteroidContainer {
  width: 40px;
  height: 40px;
  position: absolute;
  transition: top 0.85s;
  text-align: center;
  color: black;
}
.asteroidNumContainer {
  position: absolute;
  font-weight: 1000;
  font-size: x-large;
  width: 40px;
  height: 40px;
}
